body{
    color: white;
    background-color: black;
    margin: 0px;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 4px rgb(62, 2, 67);
    padding: 10px;
    font-size: 27px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
}

.chamada{
    background-color: rgb(28, 2, 30);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1;
    border: 1px solid plum;
}

.categoria h2{
    font-family: "Oswald", sans-serif;
}

